.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.DS_Store
android/.gradle/
android/.kotlin/
android/local.properties
android/app/debug
android/app/profile
android/app/release
ios/Pods/
ios/.symlinks/
*.apk
*.aab
*.keystore
*.jks
